<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% seo %}
		<title>
			{% if page.title-tag %}
				{{ page.title-tag }}
			{% else %}
				{{ page.title }} | {{ site.title }}
			{% endif %}
		</title>
		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
		{% if page.home %}
		<link rel="stylesheet" href="/assets/css/home.css">
		{% endif %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->
		{% include head-custom.html %}
	</head>

	<body>
		<div class="header">
			<h1 class="name titles"><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
			<div class="menu">
				<h2 class="titles menu-item"><a href="/research">Research</a></h2>
				<h2 class="titles menu-item"><a href="/teaching">Teaching</a></h2>
				<h2 class="titles menu-item"><a href="/students">Students</a></h2>
				<h2 class="titles menu-item"><a href="/about">About</a></h2>
			</div>
		</div>

		<div class="content-wrapper">
			{{ content }}
		</div>

		<div class="footer"></div>

		<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
	</body>
</html>
